@font-face {
    font-family: robotoRegular;
    src: url(./roboto-fonts/Roboto-Regular.ttf);
}


.header1 {
    color: white;
    background-color: rgb(57, 59, 61);
    font-family: robotoRegular;
}

.header1 h1,
.header1 p {
    display: inline;
    font-size: 16px;
    line-height: 50px;
}

.header1 h1 {
    margin-left: 35px;
}

nav {
    display: inline-block;
    margin-left: 77%;
}

.parallax1 {
    background-image: url("https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjE5NzYxNTgy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    height: 70vh;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.newParagraph {
    background-color: white;
    color: black;
    width: 700px;
    margin-left: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: robotoRegular;
}

.parallax2 {
    background-image: url("https://images.unsplash.com/photo-1516663713099-37eb6d60c825?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNDY4MTQ1NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1200");
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
    vertical-align: middle;
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.avatar-words{
    font-family: robotoRegular;
}
.avatar-words2{
    color: rgb(137,139,140);
    font-family: robotoRegular;
}

.newParagraph2 {
    background-color: white;
    color: black;
    width: 700px;
    margin-left: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: robotoRegular;
}

.newParagraph3 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(57, 59, 61);
    color: white;
    font-family: robotoRegular;
}